@import '../../global.scss';

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }
    .right {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 5rem;
        position: relative;

        .first-picture {
            width: 100%;
            height: 100%;
        }
        .second-picture {
            background-color: $secondary-color;
            width: 200px;
            height: 200px;
            margin-left: 10px;
            margin-top: 30px;
        }
    }

}