@import '../../global.scss';

.story {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .left {
        width: 40%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    .right {
        width: 40%;
        * {
            margin-bottom: 12px;
        }
    }
    
    
}